@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1200px) {
  #hero {
    min-height: 100vh;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  nav .mode-icons {
    padding-top: 4px;
    margin-left: auto;
    margin-right: 20px;
  }
  nav .menu-icon {
    display: block;
  }
  nav .main-links {
    --inline-gap: 0px;
    --block-gap: 15px;
    transform: translateX(100%);
    position: absolute;
    z-index: 999;
    width: 350px;
    height: 100vh;
    background-color: #fff;
    border-left: 2px solid #f1f1f1;
    right: 0;
    top: 0;
    /* bottom: 0 !important; */
    flex-direction: column;
    transition: transform 400ms;
  }
  nav .main-links .close-icon {
    display: block;
    padding: 10px 15px 5px;
  }
  nav .main-links a {
    width: 100%;
    padding: var(--block-gap) 10px;
  }
  footer .container :is(.about, .contact-details) {
    width: calc(calc(100% - var(--gap)) / 2);
    order: 1;
  }
  footer .container :is(.subscription) {
    width: 100%;
    order: 2;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  #hero .container {
    flex-direction: column-reverse;
    gap: 50px;
  }
  #hero .container > * {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .chefs-body {
    justify-content: center;
  }
  .chefs-body .chefs-item {
    width: calc(calc(100% - var(--gap)) / 2);
  }
  .gallery-body {
    height: 1405px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.25rem;
    /* overflow: hidden; */
  }
  .gallery-body .box {
    width: calc(50% - var(--gap));
  }
  .box:nth-child(1) {
    order: -7;
  }
  .box:nth-child(5) {
    order: -6;
  }
  .box:nth-child(2) {
    order: -5;
  }
  .box:nth-child(4) {
    order: -4;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .gallery-body {
    height: auto;
  }
  .gallery-body .box {
    width: 100%;
  }
  .contact-body iframe {
    aspect-ratio: 1/0.66;
  }
  .contact-body .details > div {
    width: 100%;
  }
  .form-container .row {
    flex-direction: column;
  }
  .form-container .row .input-container {
    width: 100%;
  }
  footer .container :is(.about, .contact-details, .subscription) {
    width: 100%;
    order: 0;
  }
  .chefs-body .chefs-item {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .hero-content .btn-group {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding-inline: 15px;
  }
  footer .sunscription-group {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 300px) {
  :root {
    font-size: 12px;
  }
}
