@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

image {
  width: 100%;
}

body {
  font-family: "Alegreya Sans",  serif;
}

.hero-section {
  height: 100vh;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/drew-coffman-1872.jpg);
  background-size: cover;
  background-position: center center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  float: left;
}

.logo {
  width: 56%;
}

.main-nav {
  float: right;
  margin: auto 0;
  list-style-type: none;
}

.main-nav li {
  display: inline-block;
  padding: 28px 22px;
  color: #fff;
  margin-right: -16px;
}

.main-nav a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  transition: all 0.5s;
}

.main-nav li:not(:first-child) a:hover {
  color: #d4c690;
}

.active {
  border-top: 2px solid #ad9667;
}

.active a {
  color: #c8aa96;
}

.clear {
  clear: both;
}

.hero-section .body {
  margin-top: calc(50vh - 78.4px);
  transform: translate(0, -40%);
  text-align: center;
}

.hero-section p:first-child {
  font-size: 22px;
  margin-bottom: 12px;
}

.hero-section h1 {
  font-size: 76px;
  margin-bottom: 18px;
}

.hero-section p:nth-child(3) {
  margin: 0 auto;
  width: 60%;
  font-size: 24px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.btn {
  color: #fff;
  padding: 15px 28px;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover,
.btn-container .btn:first-child:hover,
.btn-container .btn:last-child:hover {
  background-color: #fff;
  color: #333333;
}
.btn-container .btn:first-child {
  background-color: #8e7754;
  margin-right: 8px;
}
.btn-container .btn:last-child {
  background-color: transparent;
  border-color: #fff;
}

/* ///////////////////////  End OF FIRST SECTION*/

.who-we-are,
.our-location {
  padding: 106px 0;
}

.d-ib {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}

.who-we-are--text,
.our-location--text {
  width: 48%;
}
.who-we-are--text {
  padding-left: 22px;
}
.who-we-are--image {
  width: 46%;
  margin-right: 5%;
}

.who-we-are--text h2,
.our-location--text h2 {
  font-size: 32px;
  color: #303030;
  font-weight: 400;
  margin-bottom: 26px;
}

.who-we-are--text .desc,
.our-location--text .desc {
  font-size: 16px;
  line-height: 1.8;
  color: #686868;
  margin-bottom: 26px;
}

.small-text {
  margin-bottom: 24px;
}

.small-text div {
  width: 40px;
  height: 40px;
  padding: 9px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  color: #8e7754;
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.small-text img {
  width: 100%;
}

.small-text p {
  color: #686868;
  display: inline-block;
  vertical-align: middle;
}

.our-location {
  background-color: #f8f8f8;
}

.our-location--image {
  width: 46%;
  margin-left: 5%;
}

/* //////////////////////////////////////// end of section 2 & 3 */
.our-baking {
  padding: 106px 0;
  /* height: 100vh; */
}
.our-baking h3 {
  color: #303030;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}
.our-baking h4 {
  color: #303030;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}
.our-baking p:nth-child(2) {
  color: #888888;
  font-size: 16px;
  text-align: center;
  margin-bottom: 60px;
}
.our-baking--body .box {
  display: inline-block;
  width: 30%;
}

.box:not(:last-child) {
  margin-right: 4.6%;
}

.box p {
  font-size: 16px;
  color: #686868;
  line-height: 1.8;
  text-align: center;
}

.box img {
  width: 100%;
  margin-bottom: 30px;
}

/* //////////////////////////////////////////////////////// */

.contact-information {
  padding: 106px 0;
  background-color: #f8f8f8;
}

.contact-information--text {
  width: 48%;
}

.contact-information--image {
  width: 46%;
  margin-left: 5%;
}

.contact-information--text h2 {
  font-size: 32px;
  color: #303030;
  font-weight: 400;
  margin-bottom: 26px;
}

.contact-information--text .desc {
  font-size: 16px;
  line-height: 1.8;
  color: #686868;
  margin-bottom: 26px;
}

.contact-information .small-text div {
  background-color: #8e7754;
}

.small-text p {
  color: #686868;
}

/* //////////////////////////////////////////////////////////// */

#footer {
  margin: 0 auto;
  color: #969696;
  background-color: #403d38;
  padding: 50px 0;
}

.top-footer {
  width: 90%;
  margin: 20px 0 20px 70px;
  padding: 40px 0 0 50px;
}

.top-footer h4 {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
}

.top-footer p,
.top-footer ul {
  line-height: 1.8;
  font-size: 16px;
  font-weight: 400;
}

.col {
  float: left;
  width: 25%;
  padding: 0 15px;
}

.col ul {
  list-style: none;
  padding: 0;
}

.col ul li {
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.col ul li img {
  width: 20px;
  vertical-align: middle;
}
.col ul li span {
  vertical-align: middle;
}

.bottom-footer {
  background-color: #353330;
  text-align: center;
  padding: 20px 0;
}

.bottom-footer img {
  width: 350px;
  margin-bottom: 20px;
}

.bottom-footer p {
  font-size: 14px;
  color: #969696;
  margin-bottom: 30px;
}

.social a {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 50px;
  background-color: #484540;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.social a:last-child {
  margin-right: 0;
}

.social img {
  width: 100%;
}

.social a.facebook:hover {
  background-color: #3b5998;
}

.social a.google:hover {
  background-color: #db4437;
}

.social a.linkedin:hover {
  background-color: #0077b5;
}

.social a.twitter:hover {
  background-color: #1da1f2;
}
